/* Universal */

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    height: 100%;

    color: black;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.07);
    /* A system font stack so things load nice and quick! */

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10px;
    font-weight: 900;
  }

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
    overflow: hidden;

    background: rgb(172, 194, 202);
}

a {
    cursor: pointer;
    text-decoration: none;

    color: inherit;
}

/* Splash Screen */

#img--splashscreen {
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    margin: 15% auto; /* 15% from the top and centered */

    border: 1px solid black;
}

.div--modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;

    display: block; /* Hidden by default */
    overflow: auto; /* Enable scroll if needed */

    width: 100%; /* Full width */
    height: 100%; /* Full height */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Nav */

nav {
    margin: 0;

    background: white;
}

.navbar {
    width: 100%;
    height: 30px;
    margin-top: -10px;

    border-bottom: 1px solid rgba(0,0,0,.2);
}

.brand {
    padding-top: 5px;
    padding-left: 15px;
}

/* Settings Grid */

.div--container__settings {
    display: grid;

    width: 100vw;

    text-align: center;

    border-bottom: 1px solid rgba(104, 194, 236, 0.1);
    background: white;

    grid-template-columns: minmax(120px, 150px) minmax(100px, 170px) minmax(60px, 150px) minmax(60px, 150px) minmax(60px, 120px) ;
    grid-template-rows: 135px;
}

.div--container__settings-child {
    display: grid;

    border-right: 1px solid rgba(0, 0, 0, 0.1);

}

.div--gradient__top {
    height: 1px;
    margin: 0;
    padding: 0;

    background: -moz-linear-gradient(left, rgba(30,87,153,.3) 0%, rgba(30,87,153,0.3) 45%, rgba(0,0,0,0.14) 83%, rgba(0,0,0,0) 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(30,87,153,.3) 0%,rgba(30,87,153,0.3) 45%,rgba(0,0,0,0.14) 83%,rgba(0,0,0,0) 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(30,87,153,.3) 0%,rgba(30,87,153,0.3) 45%,rgba(0,0,0,0.14) 83%,rgba(0,0,0,0) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

/* Clear/Upload Canvas */

.div--clear {
    padding: 15px 10px 0 10px;
}

#p--settings__import {
    position: relative;
    top: -13px;

    margin: 0 auto;

    font-size: 9px;
    font-weight: 100;
}

#input--settings__clear {
    width: 100px;
    min-width: 79px;
    margin: 0 auto;
    padding: 3px;

    transition: all .2s;

    border: 1px solid rgb(225, 224, 224);
    border-radius: 5px;
}

#input--settings__upload {
    overflow: hidden;

    min-width: 74px;
    max-width: 74px;
    max-height: 5px;
    margin: 10px auto;
    padding-bottom: 15px;

    transition: all .2s;

    border: 1px solid rgb(225, 224, 224);
    border-radius: 5px;
}

/* Dimensions */

.div--settings__dimensions {
    padding: 10px;
}

.div--settings__dimensions  label{
    width: 36px;
    margin: 3px auto;

    letter-spacing: 1px;
    text-transform: uppercase;

    border-bottom: 1px solid rgba(0, 0, 0, 0.117);

    font-weight: 100;
}

.div--settings__dimensions input{
    min-width: 50px;
    max-width: 50%;
    max-height: 25px;
    margin: 1px auto;
    padding: 3px 3px 3px 6px;

    text-align: center;
    letter-spacing: 1px;

    font-family: monospace;
    font-size: 13px;
    font-weight: 400;
}

/* Tools */

#a--tools__font {
    padding: 5px;

    font-family: "Times New Roman";
    font-size: 25px;
}

#ul--settings_tools {
    margin: 0 auto;
    padding: 1px 3px !important;

    list-style: none;
}

#ul--settings_tools li {
    display: inline-block;

    width: 40px;
    min-height: 41px;
    margin: 2px 3px;
    padding: 5px;

    cursor: pointer;
    transition: all .2s;
    text-align: center;
    vertical-align: top;

    border: 2px solid rgba(0,0,0,0);
}

#ul--settings_tools li:hover {
    display: inline-block;

    border: 2px solid black;
}

#input--settings__clear:hover {
    border: 1px solid black;

}

#input--settings__upload:hover {
   border: 1px solid black;
}

.span--tools__scroll {
    visibility: hidden;
}

.img--settings__tools {
    max-width: 25px;
}

.div--tools__square {
    position: relative;
    top: 3px;

    width: 20px;
    height: 20px;
    margin: 0 auto;

    border: 2px solid black;
}

.div--tools__circle {
    position: relative;
    top: 3px;

    width: 20px;
    height: 20px;
    margin: 0 auto;

    border: 2px solid black;
    border-radius: 100%;
}

/* Color */

.div--settings__color {

}

.div--container__colorpicker {
    text-align: center;

    border: none !important;
}

#input--colorpicker {
    width: 25%;
    height: 75%;
    margin-top: 30px;

    border: 1px solid rgba(104, 194, 236, 0.315);
    border-radius: 2px;
}

#input--colorpicker[type="color" i] {
    padding: 0 2px !important;

    border: 1px solid rgba(0,0,0,.2);
}


#input--colorpicker2 {
    width: 25%;
    height: 75%;
    margin-top: 30px;

    border: 1px solid rgba(104, 194, 236, 0.315);
    border-radius: 2px;
}

#input--colorpicker2[type="color" i] {
    padding: 0 2px !important;

    border: 1px solid rgba(0,0,0,.2);
}

#img--palette {
    max-width: 15px;
    margin: 20px auto 0 auto;
}

/* Brush Size */

.div--settings__brushsize {
    overflow: hidden;
}

.div--container__brushsize {
    margin: 0;
    padding: 2px;

    text-align: center;
}

#p--sizepickernumber {
    position: relative;
    top: -110px;
    left: 5px;

    width: 20px;

    letter-spacing: 1px;
    text-transform: uppercase;

    font-size: 9px;
    font-weight: 100;
}

#input--sizepickerslider {
    width: 80px;
    height: 100%;

    transform: rotate(90deg);

    background: transparent; /* Otherwise white in Chrome */

    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

#input--sizepickernumber {
    position: relative;
    top:-115px;
    right: 35px;

    width: 33px;
    height: 20px;

    font-family: monospace;
    font-size: 8px;
    font-weight: 400;
}

/* Special styling for WebKit/Blink */
#input--sizepickerslider[type=range]::-webkit-slider-thumb {
    position: relative;
    top: 12px;

    width: 10px;
    height: 10px;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

    cursor: pointer;

    border: 1px solid #000000;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(0,0,0,.2); /* Add cool effects to your sliders! */

    -webkit-appearance: none;
  }

/* All the same stuff for Firefox */
#input--sizepickerslider[type=range]::-moz-range-thumb {
    width: 10px;
    height: 10px;

    cursor: pointer;

    border: 1px solid #000000;
    border-radius: 3px;
    background: #ffffff;
}

  /* All the same stuff for IE */
#input--sizepickerslider[type=range]::-ms-thumb {
    width: 16px;
    height: 36px;

    cursor: pointer;

    border: 1px solid #000000;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#input--sizepickerslider[type=range]::-webkit-slider-runnable-track {
    height: 6px;

    cursor: pointer;

    border-radius: 5px;
    background: #3071a9;
  }

#input--sizepickerslider[type=range]:focus::-webkit-slider-runnable-track {
    height: 6px;

    background: #367ebd;
}

#input--sizepickerslider[type=range]::-moz-range-track {
    height: 6px;

    cursor: pointer;

    border-radius: 5px;
    background: #3071a9;
}

#input--sizepickerslider[type=range]::-ms-track {
    height: 6px;

    cursor: pointer;
    cursor: pointer;

    color: transparent;
    border-color: transparent;
    border-radius: 5px;
    background: #3071a9;
    background: transparent;
}

#input--sizepickerslider[type=range]:focus::-ms-fill-lower {
background: black;
}

#input--sizepickerslider[type=range]::-ms-fill-upper {
border: 0.2px solid #010101;
border-radius: 2.6px;
background: #3071a9;
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#input--sizepickerslider[type=range]:focus::-ms-fill-upper {
background: #367ebd;
}



/* Drawing Area/Canvas */

.div--main__background {
    text-align: center;
}

#main-canvas {
    text-align: center;

    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 2px;
    background: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.089);
}

#p--mousex, #p--mousey {
    position: relative;
    left: 10px;

    margin: 5px;

    letter-spacing: 1px;

    font-weight: 100;
}

/* Footer */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 35px;
    margin: 0;
    padding: 0 15px 0 0;

    text-align: right;

    border-top: 1px solid rgba(104, 194, 236, 0.2);
    background: white;
}

.div--gradient__bottom {
    position: relative;
    top: -2px;

    width: 100vw;
    height: 1px;
    margin: 0;
    padding: 0;

    background: -moz-linear-gradient(left, rgba(0,0,0,0) 4%, rgba(0,0,0,0.14) 17%, rgba(30,87,153,0.3) 55%, rgba(30,87,153,.3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 4%,rgba(0,0,0,0.14) 17%,rgba(30,87,153,0.3) 55%,rgba(30,87,153,.3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 4%,rgba(0,0,0,0.14) 17%,rgba(30,87,153,0.53) 55%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Media Queries */
@media (max-width: 595px) {
    .div--settings__tools {
        overflow: scroll;
    }
    .div--container__settings {
        grid-template-rows: 100px;
    }
    .div--container__colorpicker {
        margin-top: -10px;
    }
    .div--settings__dimensions {
        padding: 0px;
    }
    #input--sizepickernumber {
        top:-100px;
        right: 22px;
    }
    #p--sizepickernumber {
        top: -95px;
        left: 0px;
    }
    #input--colorpicker[type="color" i] {
        width: 30%;
        padding: 0 !important;

        border: 0;
    }

    #input--colorpicker2[type="color" i] {
        width: 30%;
        padding: 0 !important;

        border: 0;
    }

}

@media (min-width: 740px) {
    #ul--settings_tools {
        padding: 15px 3px !important;
    }
    #input--colorpicker[type="color" i] {
        width: 30%;
        margin-right: 5px;
        padding: 0 2px!important;
    }

    #input--colorpicker2[type="color" i] {
        width: 30%;
        padding: 0 2px !important;
    }
}
